[{{ account_name | default("mailassist") }}] OTP: {{ otp_code | default("?") }}{% if otp_service %} ({{ otp_service }}){% endif %}

From: {{ sender_name | default("") }} <{{ sender | default("unknown") }}>
Account: {{ account_email | default("") }}

Code: {{ otp_code | default("") }}
{% if otp_service %}Service: {{ otp_service }}{% endif %}
{% if otp_code_type %}Type: {{ otp_code_type }}{% endif %}
{% if otp_description %}Info: {{ otp_description }}{% endif %}
{% if otp_url %}Link: {{ otp_url }}{% endif %}
